<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.redpointtree.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RedPointTreeInSimpleActivity" />
        <activity android:name=".CrossHierarchyActivity" />
        <activity android:name=".MessageBoxActivity" />
        <activity android:name=".MomentMsgListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="moment_msglist"
                    android:scheme="@string/app_page_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".SystemMsgActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="system_msglist"
                    android:scheme="@string/app_page_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>